<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @department.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @department.description %>
</p>

<%= link_to 'Edit', :controller=> "departments", :action => "edit", :id => @department.id  %> |
<%= link_to 'Back', departments_path %>
